<body class="content" id="content">
  <h1>Welcome to CSE Motors</h1>
  <div class="home-div">
    <h3 id="home-h3">DMC Delorean</h3>
    <p id="home-p">
      Beets <br />
      Bears <br />
      Battlestar Galactica
    </p>
  </div>
  <div class="own-img">
    <img src="images/site/own_today.png" alt="Own Today" />
  </div>
</body>
