@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Space+Grotesk&display=swap');


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --lgray: #bababa;
  --mgray: #8d8d8d;
  --dgray: #3a3a3a;
  --lblue: #a6cbeb;
  --mblue: #276fae;
  --bodyfont: 'Space Grotesk', sans-serif;
  --hfont: 'Bitter', serif;
  --error: #ff0000;
}

body {
  background-image: url("/images/site/small_check.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  font-family: var(--bodyfont);
  margin: 0;
  padding: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--hfont);
  color: var(--dgray);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: -5px;
}

h3 {
  font-size: 1.5rem;
}

p {
  padding: 0;
}

/* CSS Rules for header*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 95%;
}

header.logo-img {
  float: left;
  margin: auto;
}

header.my-account {
  float: right;
}

#top-header a {
  text-decoration: none;
  color: var(--mblue);
}

.siteName {
  font-family: var(--bodyfont);
  font-size: 3rem;
}

/* nav style */
nav ul {
  background-color: var(--lblue);
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li a {
  font-size: 1rem; 
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem; 
  display: block;
  /* transition: background-color 0.2s ease; */
  color: var(--dgray);
}

/* https://www.w3schools.com/css/css_navbar.asp */
nav li a:hover:not(.active) {
  background-color: var(--dgray);
  color: var(--lblue);
}

nav li a.active {
  background-color: var(--mblue);
  color: var(--white);
}

#wrapper {
  margin: 0 auto;
  background-color: var(--white);
}



/* ***************************************************
       CSS Rules for any screen larger than 600px
 **************************************************** */
@media screen and (min-width: 768px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 30%;
    
  }

  main {
    padding: 10px;
  }

  nav li {
    float: left;
  }

  #wrapper {
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid var(--mblue);
    border-radius: 8px;
    background-color: var(--white);
  }

}